body {
  font-family: Arial, Helvetica, sans-serif;
}

/* utilities class */
.bg-navbar {
  background-color: #0E6F38;
}

/* general */
a.current {
  color: #F3DC0B;
}

a:hover {
  cursor: pointer;
}

.search-box,
input[type="date"] {
  border-radius: 20px;
  border: 1px #111 solid;
  padding: 8px;
  height: 35px;
  outline: none;
}


table .tfoot-light {
  background-color: #eee;
}

table tbody a {
  color: blue;
}

table tbody a[type="button"] {
  color: #000;
}

table tbody td {
  padding: 0 40px;
}

a.btn-light {
  color: #111;
}

a.btn-light:hover {
  color: #111;
}

/* admin -home page */

section.home-page {
  height: 100vh;
  display: flex;
}

section.home-page .right-content {
  width: 85%;
}

section.home-page .right-content .user-info {
  display: flex;
  justify-content: end;
  padding: 1rem;
}

section.home-page aside.left-content {
  width: 15%;
}

section.home-page aside.left-content ul {
  height: 100vh;
  padding-top: 170px;
  position: sticky;
  top: 0;
  left: 0;
}

a {
  color: #fff;
}

.dropdown-menu {
  border: none;
}

.dropdown-menu li a.current {
  color: #F3DC0B;
}

a[type="button"] {
  color: #fff;
}

section.home-page aside.left-content .navbar li.dropdown .dropdown-menu a {
  color: #fff;
}

section.home-page aside.left-content .navbar li.dropdown .dropdown-menu a:hover {
  background-color: #0E6F38;
  color: #F3DC0B;
}

section.home-page aside.left-content .navbar li a:hover {
  color: #F3DC0B;
}

section#home-page-admin main.right-content .list-customer-header,
section#home-page-admin main.right-content .list-customer-order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.home-page main.right-content .list-customer-header .search-box {
  margin-left: 300px;
}

section.home-page main.right-content .add-new-customer .modal {
  width: 500px;
  margin: 2rem auto;
  margin-left: 30%;
}

/* admin details customer page */

section.home-page main.right-content .list-customer-order-details .form-group {
  margin-left: 150px;
  align-self: center;
}

section.home-page {
  height: 100vh;
}

section.home-page main.right-content .user-wrap {
  background-color: rgba(14, 111, 56, 0.881);

}

section.home-page main.right-content .user-info {
  margin-left: 84%;
}

section.home-page main.right-content .user-info a:hover {
  color: #F3DC0B;
}

section.home-page main.right-content .user-info .dropdown-menu {
  background-color: rgba(14, 111, 56, 0.95);
  position: relative;
  top: 40px;
  color: #fff;
  padding: 1rem;
}

/* order details page */
#create-new-order,
.order {
  height: 100vh;
}

.order .order-header .order-header-right input {
  height: 30px;
}

.order .order-header input[type="date"] {
  border: none;

}

.order .modal {
  width: 30%;
  margin: 0.5rem 10rem;
  margin-left: 40%;
}

#change-order .order-footer .modal {
  margin-top: 0px;
}

/* accountant home page */
#list-type-tea table button[type="button"] {
  border: none;
  padding: 0.2rem;
  outline: none;
}

.right-content .row a.btn {
  position: relative;
  left: 80px;
}

.right-content .row input {
  position: relative;
  left: 150px;
}

/* sign in - sign up */
.sign {
  width: 100vw;
  height: 100vh;
}

.sign .logo img {
  width: 200px;
}

.sign .sign-box {
  background-color: rgb(54, 160, 226);
  border-radius: 3px;
  height: 70vh;
  margin-top: 3rem;
  width: 90%;
}

#create-new-order .order-header .order-header-left input[type="datetime-local"],
#new-transaction .order-header .order-header-left input[type="datetime-local"] {
  width: 11.3rem;
}